body {
    background-image: url("/assets/pokemon-bg.jpg");
    text-align: center;
   }

   .container {
    min-height: 100vh; /* height of the browser viewport */
    display: flex;
    justify-content: center;
    align-items: center;
  }

.box {
  height: 350px;
  width: 300px;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  position: relative;
  text-align: center;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.74); 
box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.74);
}

.pika{
    height: 100px;
    border-radius: 50%;
}