.image-movie{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-radius: 40px;
  }

body{
      background-color: rgb(27,12,44);
      color: white;
      text-align: center;
    }

h1{
    font-family: "Brush Script MT", cursive; 
}
